@import url('https://fonts.googleapis.com/css?family=Lobster|Maven+Pro|PT+Sans+Caption|Pacifico');

$lobster: 'Lobster', cursive;
$pacifico: 'Pacifico', cursive;
$pt_caption: 'PT Sans Caption', sans-serif;
$maven: 'Maven Pro', sans-serif;
$pink: lighten(#E61A8D, 35%);

.ui.container.main {
  padding-top: 5em;
}

.ui.segment.app-header {
  padding: 10px 20px 20px 20px;
  min-height: 70px; 
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  & .ui.header {
    float: left;
    color: black;
    font-size: 2em;
    font-family: $pacifico;
  }
  & .user.name {
    font-size: 1.3em;
    font-family: $pt_caption;
    font-weight: bold;
  }
}

.ui.app-footer {
	height: 70px;
	width: 100%;
	& > .header {
    margin-right: 2em;
    float: right;
	  font-family: $maven;
	}
  & > img.ui.tiny.image {
    margin-right: 1em;
    float: right;
    height: 50px;
    width: auto;
  }
}

img {
  &.user.photo {
    float: right;
    border-radius: 50%;
  }
}

.ui.vertical.segment {
	border-bottom: none;
}

body {
  min-height: 100%;
  font-family: $maven;
  background: $pink;
  background: -moz-radial-gradient(center, circle cover, #fcfbf7 0%, $pink 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, $pink));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, $pink 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, $pink 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, $pink 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, $pink 100%);
  background-color: #f7fbfc;
}

#react-view {
  min-height: calc(100vh - 70px);
}

.ui.input {
  & input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
  }
  & input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
}

.md-btn {
  font-size: 1.8em;
  position: relative;
  display: block;
  margin: 2em auto;
  padding: 0.2em;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;

  &:disabled, & .disabled, &.disabled.active, &.disabled, &.disabled:hover {
    cursor: default;
    opacity: .45!important;
    background-image: none!important;
    box-shadow: none!important;
    pointer-events: none!important;
  }

  &:hover, &:focus {
    background-color: #27ae60;
  }

  & > * {
    position: relative;
  }

  & span {
    display: block;
    padding: 12px 24px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
}