@import url('https://fonts.googleapis.com/css?family=Lobster|Maven+Pro|PT+Sans+Caption|Pacifico');

$lobster: 'Lobster', cursive;
$pacifico: 'Pacifico', cursive;
$pt_caption: 'PT Sans Caption', sans-serif;
$maven: 'Maven Pro', sans-serif;
$pink: lighten(#E61A8D, 35%);

.ui.segment.app-header {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  & .header {
    font-family: $pacifico;
  }
  & .user.name {
    font-family: $pt_caption;
    font-weight: bold;
  }
}

.app-footer {
	position: absolute !important;
	bottom: 0;
	height: 5em;
	width: 100%;
	& .header {
	  font-family: $maven;
	}
}

img {
  &.user.photo {
    border-radius: 3%;
  }
}

.ui.vertical.segment {
	border-bottom: none;
}

body {
  font-family: $maven;
  background: $pink;
  background: -moz-radial-gradient(center, circle cover, #fcfbf7 0%, $pink 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, $pink));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, $pink 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, $pink 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, $pink 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, $pink 100%);
  background-color: #f7fbfc;
}

.ui.input {
  & input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
  }
  & input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
}